<div class="header">
  <div>
   <button mat-raised-button [matMenuTriggerFor]="menu"  class="menuButtonBlock">Menu</button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" class="menuBlock">
      <button mat-menu-item="" (onclick)="menuSelect(1)">Registration</button>
      <button mat-menu-item="" (onclick)="menuSelect(2)">Autorisation</button>
      <button mat-menu-item="" (onclick)="menuSelect(3)">Profile</button>
    </mat-menu>
  </div>
  <div class="usernameBlock">Username</div>
</div>

