.center-div
{
  margin: 0 auto;
  width: 600px;
}
.example-full-width {
  width: 100%;
}
.textLabel{
  font-size:1.2em;
}
.mainBlock{
  position:absolute;
  top:70px;
  left:10px;
  bottom:10px;
  right:300px;
  border-top:solid black;
  overflow: auto;
  background-color: wheat;
  border-left:dotted black ;
  border-right: dotted black;
}
.oneNewsBlock{
  position:absolute;
  top:70px;
  left:10px;
  right:300px;
  border-top:solid black;
  overflow: auto;
  background-color: wheat;
  border-left:dotted black ;
  border-right: dotted black;
  border-bottom: dotted black;
}
.newsBlock{
  right:10px;
  background-color: wheat;
  border-bottom: dotted black;
}
.newsNameBlock{
  top:50px;
  text-align: center;
  height: 20px;
  font-size:1.5em;
}

.newsPictureBlock{
  width: 600px;
  height: 400px;

}
.newsTextBlock{
  top:10px;
  margin-left:10px;
  margin-right:10px;
  font-size:1.2em;
}

.textareaClass{
  font-size:1.5em;
  background-color: azure;
}
.textareaDiv{
  margin-left:10px;
  margin-right:10px;
}
